{% extends 'base.html' %}
{% load static %}
{% block head %}
{% block title %}Home{% endblock %}

{% endblock %}

{% block content %}
<!-- About -->
<div id="about" class="section md-padding">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <!-- Section header -->
      <div class="section-header text-center">
        <h2 class="title">Welcome to Novus</h2>
      </div>
      <!-- /Section header -->

      <!-- about -->
      <div class="col-md-4">
        <div class="about">
          <i class="fa fa-cogs"></i>
          <h3>Fully Customizible</h3>
          <p>Whether you say it or not, human beings love beauty and that’s why we build clear, intuitive, and beautiful user interfaces in all our projects.We are always eager to go an extra mile to deliver the best products to our clients.</p>
          <a href="#">Read more</a>
        </div>
      </div>
      <!-- /about -->

      <!-- about -->
      <div class="col-md-4">
        <div class="about">
          <i class="fa fa-magic"></i>
          <h3>Awesome Features</h3>
          <p>Our vertical solutions expertise allows your business to streamline workflow, and increase productivity. No matter the business, We has you covered with industry compliant solutions, customized to your specific needs.</p>
          <a href="#">Read more</a>
        </div>
      </div>
      <!-- /about -->

      <!-- about -->
      <div class="col-md-4">
        <div class="about">
          <i class="fa fa-mobile"></i>
          <h3>Fully Responsive</h3>
          <p>Almost every new client wants a mobile version of their website. It’s practically essential after all: one design for the BlackBerry, another for the iPhone, the iPad, netbook, Kindle — and all screen resolutions must be compatible, too.</p>
          <a href="#">Read more</a>
        </div>
      </div>
      <!-- /about -->

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /About -->


<!-- Portfolio -->
<div id="portfolio" class="section md-padding bg-grey">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <!-- Section header -->
      <div class="section-header text-center">
        <h2 class="title">Featured Works</h2>
      </div>
      <!-- /Section header -->

      <!-- Work -->
      <div class="col-md-4 col-xs-6 work">
        <img class="img-responsive" src="/static/img/work1.jpg" alt="">
        <div class="overlay"></div>
        <div class="work-content">
          <span>Category</span>
          <h3>Digital Marketing</h3>
          <div class="work-link">
            <a href="#"><i class="fa fa-external-link"></i></a>
            <a class="lightbox" href="/static/img/work1.jpg"><i class="fa fa-search"></i></a>
          </div>
        </div>
      </div>
      <!-- /Work -->

      <!-- Work -->
      <div class="col-md-4 col-xs-6 work">
        <img class="img-responsive" src="/static/img/work2.jpg" alt="">
        <div class="overlay"></div>
        <div class="work-content">
          <span>Category</span>
          <h3>Mobile Application Development</h3>
          <div class="work-link">
            <a href="#"><i class="fa fa-external-link"></i></a>
            <a class="lightbox" href="/static/img/work2.jpg"><i class="fa fa-search"></i></a>
          </div>
        </div>
      </div>
      <!-- /Work -->

      <!-- Work -->
      <div class="col-md-4 col-xs-6 work">
        <img class="img-responsive" src="/static/img/work3.jpg" alt="">
        <div class="overlay"></div>
        <div class="work-content">
          <span>Category</span>
          <h3>Web Development</h3>
          <div class="work-link">
            <a href="#"><i class="fa fa-external-link"></i></a>
            <a class="lightbox" href="/static/img/work3.jpg"><i class="fa fa-search"></i></a>
          </div>
        </div>
      </div>
      <!-- /Work -->

      <!-- Work -->
      <div class="col-md-4 col-xs-6 work">
        <img class="img-responsive" src="/static/img/work4.jpg" alt="">
        <div class="overlay"></div>
        <div class="work-content">
          <span>Category</span>
          <h3>Business Development</h3>
          <div class="work-link">
            <a href="#"><i class="fa fa-external-link"></i></a>
            <a class="lightbox" href="/static/img/work4.jpg"><i class="fa fa-search"></i></a>
          </div>
        </div>
      </div>
      <!-- /Work -->

      <!-- Work -->
      <div class="col-md-4 col-xs-6 work">
        <img class="img-responsive" src="/static/img/work5.jpg" alt="">
        <div class="overlay"></div>
        <div class="work-content">
          <span>Category</span>
          <h3>Web Designing</h3>
          <div class="work-link">
            <a href="#"><i class="fa fa-external-link"></i></a>
            <a class="lightbox" href="/static/img/work5.jpg"><i class="fa fa-search"></i></a>
          </div>
        </div>
      </div>
      <!-- /Work -->

      <!-- Work -->
      <div class="col-md-4 col-xs-6 work">
        <img class="img-responsive" src="/static/img/work6.jpg" alt="">
        <div class="overlay"></div>
        <div class="work-content">
          <span>Category</span>
          <h3>Graphic Designing</h3>
          <div class="work-link">
            <a href="#"><i class="fa fa-external-link"></i></a>
            <a class="lightbox" href="/static/img/work6.jpg"><i class="fa fa-search"></i></a>
          </div>
        </div>
      </div>
      <!-- /Work -->

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /Portfolio -->

<!-- Service -->
<div id="service" class="section md-padding">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <!-- Section header -->
      <div class="section-header text-center">
        <h2 class="title">What we offer</h2>
      </div>
      <!-- /Section header -->

      <!-- service -->
      <div class="col-md-4 col-sm-6">
        <div class="service">
          <i class="fa fa-diamond"></i>
          <h3>App Development</h3>
          <p>Expanding an app which is developed for limited set of features is just adding more problems.</p>
        </div>
      </div>
      <!-- /service -->

      <!-- service -->
      <div class="col-md-4 col-sm-6">
        <div class="service">
          <i class="fa fa-rocket"></i>
          <h3>Website Design</h3>
          <p>Having a unique website design is important part of the branding and marketing process of your business</p>
        </div>
      </div>
      <!-- /service -->

      <!-- service -->
      <div class="col-md-4 col-sm-6">
        <div class="service">
          <i class="fa fa-cogs"></i>
          <h3>Website Development</h3>
          <p>Our new fangled approach to Development is directed creating and building deep love for your website</p>
        </div>
      </div>
      <!-- /service -->

      <!-- service -->
      <div class="col-md-4 col-sm-6">
        <div class="service">
          <i class="fa fa-diamond"></i>
          <h3>Marketing</h3>
          <p>We structure & strategize the best possible Digital Marketing solution not only to fit your budgets but also help to get more than what you are expecting now.</p>
        </div>
      </div>
      <!-- /service -->

      <!-- service -->
      <div class="col-md-4 col-sm-6">
        <div class="service">
          <i class="fa fa-pencil"></i>
          <h3> Chatbots</h3>
          <p>With the help of workshops, we help you to design catchy conversations that make customers happy. Building a chatbot that works, that is what we stand for.</p>
        </div>
      </div>
      <!-- /service -->

      <!-- service -->
      <div class="col-md-4 col-sm-6">
        <div class="service">
          <i class="fa fa-flask"></i>
          <h3>Ux Design</h3>
          <p>User Experience (UX) Design is about an optimal user experience for the end user. When you do a project with us for the first time, you will soon come across our UX designers.</p>
        </div>
      </div>
      <!-- /service -->

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /Service -->


<!-- Why Choose Us -->
<div id="features" class="section md-padding bg-grey">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <!-- why choose us content -->
      <div class="col-md-6">
        <div class="section-header">
          <h2 class="title">Why Choose Us</h2>
        </div>
        <p>We design and develop websites, web shops, mobile apps, digital campaigns, system integrations and customized software of the highest level. Designs that are meticulously thought out to the pixel and are of this time. Today's software, ready for tomorrow's technology.</p>
        <div class="feature">
          <i class="fa fa-check"></i>
          <p>We’ll give you brand new and creative ideas to bring your campaigns to life and as always will throw in an abundance of friendly</p>
        </div>
        <div class="feature">
          <i class="fa fa-check"></i>
          <p>Our Support Forum is at your disposal at any time, 5 Star Assistance is offered within 48 hours.</p>
        </div>
        <div class="feature">
          <i class="fa fa-check"></i>
          <p>As a leading digital agency we are able to offer a fully integrated service beyond the initial website design</p>
        </div>
        <!-- <div class="feature">
          <i class="fa fa-check"></i>
          <p>Nec feugiat nisl pretium fusce id velit ut tortor pretium.</p>
        </div> -->
      </div>
      <!-- /why choose us content -->

      <!-- About slider -->
      <div class="col-md-6">
        <div id="about-slider" class="owl-carousel owl-theme">
          <img class="img-responsive" src="/static/img/about1.jpg" alt="">
          <img class="img-responsive" src="/static/img/about2.jpg" alt="">
          <img class="img-responsive" src="/static/img/about1.jpg" alt="">
          <img class="img-responsive" src="/static/img/about2.jpg" alt="">
        </div>
      </div>
      <!-- /About slider -->

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /Why Choose Us -->


<!-- Numbers -->
<div id="numbers" class="section sm-padding">

  <!-- Background Image -->
  <div class="bg-img" style="background-image: url('/static/img/background2.jpg');">
    <div class="overlay"></div>
  </div>
  <!-- /Background Image -->

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <!-- number -->
      <div class="col-sm-3 col-xs-6">
        <div class="number">
          <i class="fa fa-users"></i>
          <h3 class="white-text"><span class="counter">451</span></h3>
          <span class="white-text">Happy clients</span>
        </div>
      </div>
      <!-- /number -->

      <!-- number -->
      <div class="col-sm-3 col-xs-6">
        <div class="number">
          <i class="fa fa-trophy"></i>
          <h3 class="white-text"><span class="counter">12</span></h3>
          <span class="white-text">Awards won</span>
        </div>
      </div>
      <!-- /number -->

      <!-- number -->
      <div class="col-sm-3 col-xs-6">
        <div class="number">
          <i class="fa fa-coffee"></i>
          <h3 class="white-text"><span class="counter">154</span>K</h3>
          <span class="white-text">Cups of Coffee</span>
        </div>
      </div>
      <!-- /number -->

      <!-- number -->
      <div class="col-sm-3 col-xs-6">
        <div class="number">
          <i class="fa fa-file"></i>
          <h3 class="white-text"><span class="counter">45</span></h3>
          <span class="white-text">Projects completed</span>
        </div>
      </div>
      <!-- /number -->

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /Numbers -->

<!-- Pricing -->
<div id="pricing" class="section md-padding">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <!-- Section header -->
      <div class="section-header text-center">
        <h2 class="title">Pricing Table</h2>
      </div>
      <!-- /Section header -->

      <!-- pricing -->
      <div class="col-sm-4">
        <div class="pricing">
          <div class="price-head">
            <span class="price-title">Hire A Developer</span>
            <div class="price">
              <h3>$20<span class="duration">/ month</span></h3>
            </div>
          </div>
          <ul class="price-content">
            <li>
              <p> Fully Dedicated Android Developer with 3+ Years of Experience</p>
            </li>
            <li>
              <p> Dedicated Developer for your project</p>
            </li>
            <li>
              <p>The resource will be expert in Native Android Development</p>
            </li>
            <li>
              <p>24/24 Support</p>
            </li>
          </ul>
          <div class="price-btn">
            <button class="outline-btn">Purchase now</button>
          </div>
        </div>
      </div>
      <!-- /pricing -->

      <!-- pricing -->
      <div class="col-sm-4">
        <div class="pricing">
          <div class="price-head">
            <span class="price-title">Custom plan</span>
            <div class="price">
              <h3>$'s<span class="duration">/ month</span></h3>
            </div>
          </div>
          <ul class="price-content">
            <li>
              <p>Contact us or get a qoute</p>
            </li>
            <li>
              <p>Set all the requirements according to your needs</p>
            </li>
            <li>
              <p>Get the required services at reasonable prices</p>
            </li>
            <li>
              <p>24/24 Support</p>
            </li>
          </ul>
          <div class="price-btn">
            <button class="outline-btn">Purchase now</button>
          </div>
        </div>
      </div>
      <!-- /pricing -->

      <!-- pricing -->
      <div class="col-sm-4">
        <div class="pricing">
          <div class="price-head">
            <span class="price-title">Hire Full Project Team</span>
            <div class="price">
              <h3>$100<span class="duration">/ month</span></h3>
            </div>
          </div>
          <ul class="price-content">
            <li>
              <p>Fully dedicated Team of 1 Android Developer,1 Backend Developer</p>
            </li>
            <li>
              <p> Min of 1 Month Hiring Contract</p>
            </li>
            <li>
              <p> You can add additional resources to your requirement</p>
            </li>
            <li>
              <p>24/24 Support</p>
            </li>
          </ul>
          <div class="price-btn">
            <button class="outline-btn">Purchase now</button>
          </div>
        </div>
      </div>
      <!-- /pricing -->

    </div>
    <!-- Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /Pricing -->


<!-- Testimonial -->
<div id="testimonial" class="section md-padding">

  <!-- Background Image -->
  <div class="bg-img" style="background-image: url('/static/img/background3.jpg');">
    <div class="overlay"></div>
  </div>
  <!-- /Background Image -->

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <!-- Testimonial slider -->
      <div class="col-md-10 col-md-offset-1">
        <div id="testimonial-slider" class="owl-carousel owl-theme">

          <!-- testimonial -->
          <div class="testimonial">
            <div class="testimonial-meta">
              <img src="/static/img/perso1.jpg" alt="">
              <h3 class="white-text">Vishal Sharma</h3>
              <span>Director, Cabz</span>
            </div>
            <p class="white-text">We are just amazed by the service provided by the team at Novus even after months of delivering our mobile application. They are amazing guys who keep their promises and deliver more than your expectations.</p>
          </div>
          <!-- /testimonial -->

          <!-- testimonial -->
          <div class="testimonial">
            <div class="testimonial-meta">
              <img src="/static/img/perso2.jpg" alt="">
              <h3 class="white-text">Rajesh Sharma</h3>
              <span>Founder, Raina Estates</span>
            </div>
            <p class="white-text">The project delivered was more than our expectations because of the valuable technical inputs given by them from time to time during discussions.</p>
          </div>
          <!-- /testimonial -->

        </div>
      </div>
      <!-- /Testimonial slider -->

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /Testimonial -->

<!-- Team -->
<div id="team" class="section md-padding">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <!-- Section header -->
      <div class="section-header text-center">
        <h2 class="title">Our Team</h2>
      </div>
      <!-- /Section header -->

      <!-- team -->
      <div class="col-sm-4">
        <div class="team">
          <div class="team-img">
            <img class="img-responsive" src="/static/img/sourav.png" style="height: 290px" alt="">
            <div class="overlay">
              <div class="team-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>
            </div>
          </div>
          <div class="team-content">
            <h3>Sourav Sharma</h3>
            <span>Founder</span>
          </div>
        </div>
      </div>
      <!-- /team -->

      <!-- team -->
      <div class="col-sm-4">
        <div class="team">
          <div class="team-img">
            <img class="img-responsive" src="/static/img/team2.jpg" alt="">
            <div class="overlay">
              <div class="team-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>
            </div>
          </div>
          <div class="team-content">
            <h3>John Doe</h3>
            <span>Web Designer</span>
          </div>
        </div>
      </div>
      <!-- /team -->

      <!-- team -->
      <div class="col-sm-4">
        <div class="team">
          <div class="team-img">
            <img class="img-responsive" src="/static/img/team3.jpg" alt="">
            <div class="overlay">
              <div class="team-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>
            </div>
          </div>
          <div class="team-content">
            <h3>John Doe</h3>
            <span>Web Designer</span>
          </div>
        </div>
      </div>
      <!-- /team -->

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /Team -->

<!-- Blog -->
<div id="blog" class="section md-padding bg-grey">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <!-- Section header -->
      <div class="section-header text-center">
        <h2 class="title">Recents news</h2>
      </div>
      <!-- /Section header -->

      <!-- blog -->
      <div class="col-md-4">
        <div class="blog">
          <div class="blog-img">
            <img class="img-responsive" src="/static/img/blog1.jpg" alt="">
          </div>
          <div class="blog-content">
            <ul class="blog-meta">
              <li><i class="fa fa-user"></i>Sourav Sharma</li>
              <li><i class="fa fa-clock-o"></i>10 Mar</li>
              <li><i class="fa fa-comments"></i>10</li>
            </ul>
            <h3>Effective Strategies for Driving Traffic to Your Website</h3>
            <p>High traffic on your website is always a good thing. And most online marketing strategies do revolve around building traffic to your site. Occasionally it is challenging to come up with new ideas to increase your website traffic.</p>
            <a href="blog-single.html">Read more</a>
          </div>
        </div>
      </div>
      <!-- /blog -->

      <!-- blog -->
      <div class="col-md-4">
        <div class="blog">
          <div class="blog-img">
            <img class="img-responsive" src="/static/img/blog2.jpg" alt="">
          </div>
          <div class="blog-content">
            <ul class="blog-meta">
              <li><i class="fa fa-user"></i>Naresh</li>
              <li><i class="fa fa-clock-o"></i>18 feb</li>
              <li><i class="fa fa-comments"></i>57</li>
            </ul>
            <h3>The difference between UI and UX</h3>
            <p>UX or user experience is the way of identifying the needs of the user.UX design is the soul of the site, it’s the brand. Whenever a user clicks on a link, for example, does the link changes? So that the user knows that it has been clicked on.</p>
            <a href="blog-single.html">Read more</a>
          </div>
        </div>
      </div>
      <!-- /blog -->

      <!-- blog -->
      <div class="col-md-4">
        <div class="blog">
          <div class="blog-img">
            <img class="img-responsive"  src="/static/img/blog3.jpg" alt="">
          </div>
          <div class="blog-content">
            <ul class="blog-meta">
              <li><i class="fa fa-user"></i>Sourav</li>
              <li><i class="fa fa-clock-o"></i>1 feb</li>
              <li><i class="fa fa-comments"></i>17</li>
            </ul>
            <h3>Tips and Tricks for App Store Optimization (ASO)!</h3>
            <p>The procedure of optimizing mobile apps to rank high in an app store’s search results is known as App Store Optimization (ASO). When your mobile app ranks high in the search results of an app store then it will be more noticeable to potential clients.</p>
            <a href="blog-single.html">Read more</a>
          </div>
        </div>
      </div>
      <!-- /blog -->

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /Blog -->

<!-- Contact -->
<div id="contact" class="section md-padding">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <!-- Section-header -->
      <div class="section-header text-center">
        <h2 class="title">Get in touch</h2>
      </div>
      <!-- /Section-header -->

      <!-- contact -->
      <div class="col-sm-4">
        <div class="contact">
          <i class="fa fa-phone"></i>
          <h3>Phone</h3>
          <p>+91 9803101887</p>
        </div>
      </div>
      <!-- /contact -->

      <!-- contact -->
      <div class="col-sm-4">
        <div class="contact">
          <i class="fa fa-envelope"></i>
          <h3>Email</h3>
          <p>sourav@novus.company</p>
        </div>
      </div>
      <!-- /contact -->

      <!-- contact -->
      <div class="col-sm-4">
        <div class="contact">
          <i class="fa fa-map-marker"></i>
          <h3>Address</h3>
          <p>Unicity Bussiness Center,Zirakpur</p>
        </div>
      </div>
      <!-- /contact -->

      <!-- contact form -->
      <div class="col-md-8 col-md-offset-2">
        <form class="contact-form">
          <input type="text" class="input" placeholder="Name">
          <input type="email" class="input" placeholder="Email">
          <input type="text" class="input" placeholder="Subject">
          <textarea class="input" placeholder="Message"></textarea>
          <button class="main-btn">Send message</button>
        </form>
      </div>
      <!-- /contact form -->

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /Contact -->
{% endblock %}

{% block footerScripts %}

<!-- userback   -->
<script>
    Userback = window.Userback || {};
    Userback.access_token = '5981|8892|sBEnHvXBygw376wAI5qwYR5A3t9UdpqWvtIXUCIZBlVJGQsdta';

    (function(id) {
        if (document.getElementById(id)) {return;}
        var s = document.createElement('script');
        s.id = id;
        s.async = 1;
        s.src = 'https://static.userback.io/widget/v1.js';
        var parent_node = document.head || document.body;
        parent_node.appendChild(s);
    })('userback-sdk');
</script>
{% endblock %}
