{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

  <!--================ start banner Area =================-->
  <section class="home-banner-area">
    <div class="container">
      <div class="row justify-content-end fullscreen">
        <div class="col-lg-6 col-md-12 home-banner-left d-flex fullscreen align-items-center">
          <div>
            <h1 class="">
              We Are <span>Design </span>&<span> Development</span> <br>
              Service Provider.
            </h1>

            <h3>
              <a href="" class="typewrite" data-period="2000" data-type='[ "Hi, We are Novus.", "We are Creative.", "We Love Designing.", "We Love to Develop." ]'>
                <span class="wrap"></span>
              </a>
            </h3>
            <br>
            <p class="mx-auto mb-40">
            We Are A Digital And Web Solutions Company.We Blend  Art, Words, Technology And Social To Craft Your Story. A Story Of Success.
            </p>
            <a href="#" class="primary-btn">More About Us</a>

            <div class="d-flex align-items-center mt-60">
              <a id="play-home-video" class="video-play-button" href="https://www.youtube.com/watch?v=vParh5wE-tM">
                <span></span>
              </a>
              <div class="watch_video">
                <h5>Watch Live Demo</h5>
                <p>You will love our execution</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 no-padding home-banner-right d-flex fullscreen align-items-end">
          <img class="img-fluid" src="static/website/img/header-img.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <!--================ End banner Area =================-->

  <!--================ Start Brand Area =================-->
  <section class="brand-area">
    <div class="container-fluid">
      <div class="row justify-content-start">
        <div class="col-lg-6">
          <div class="brand-carousel owl-carousel">
            <!-- single-brand -->
            <div class="single-brand-item d-table">
              <div class="d-table-cell">
                <img src="static/website/img/brands/b1.png" alt="">
              </div>
            </div>
            <!-- single-brand -->
            <div class="single-brand-item d-table df-height">
              <div class="d-table-cell">
                <img src="static/website/img/brands/b2.png" alt="">
              </div>
            </div>
            <!-- single-brand -->
            <div class="single-brand-item d-table">
              <div class="d-table-cell">
                <img src="static/website/img/brands/b3.png" alt="">
              </div>
            </div>
            <!-- single-brand -->
            <div class="single-brand-item d-table df-height">
              <div class="d-table-cell">
                <img src="static/website/img/brands/b4.png" alt="">
              </div>
            </div>
            <!-- single-brand -->
            <div class="single-brand-item d-table">
              <div class="d-table-cell">
                <img src="static/website/img/brands/b2.png" alt="">
              </div>
            </div>
            <!-- single-brand -->
            <div class="single-brand-item d-table df-height">
              <div class="d-table-cell">
                <img src="static/website/img/brands/b1.png" alt="">
              </div>
            </div>
            <!-- single-brand -->
            <div class="single-brand-item d-table">
              <div class="d-table-cell">
                <img src="static/website/img/brands/b2.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End Brand Area =================-->

  <!--================ Start Service Area =================-->
  <section class="service-area section-gap">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9 text-center">
          <div class="section-title">
            <p>We Are Providing these services</p>
            <h1>We At <span>Novus</span>, Provide These <br> Services to Our Customers</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- single-features -->
        <div class="col-lg-3 col-sm-6 col-md-6">
          <div class="single-service">
            <div class="service-icon">
              <img src="static/website/img/service/shape1.png" alt="">
              <img class="s-icon" src="static/website/img/service/icon1.png" alt="">
              <img class="clr-icon" src="static/website/img/service/clr-icon1.png" alt="">
            </div>
            <div class="service-content">
              <h4> Web Development</h4>
              <p>In this digital age every business whether it is small or large needs to compete with its competitors online. You need to build an online brand that your customers can recognize easily. We help you in building an online brand of your business not just a website.</p>
            </div>
          </div>
        </div>
        <!-- single-features -->
        <div class="col-lg-3 offset-lg-1 col-sm-6 col-md-6">
          <div class="single-service">
            <div class="service-icon">
              <img src="static/website/img/service/shape1.png" alt="">
              <img class="s-icon" src="static/website/img/service/icon2.png" alt="">
              <img class="clr-icon" src="static/website/img/service/clr-icon2.png" alt="">
            </div>
            <div class="service-content">
              <h4>UI / UX Designing</h4>
              <p>When it comes to User Experience design we take it very seriously. It is rooted deep in our company culture because at the end of the product development life cycle, if users are not liking the product we have developed then it is just a waste of time, energy, and money. </p>
            </div>
          </div>
        </div>
        <!-- single-features -->
        <div class="col-lg-3 offset-lg-1 col-sm-6 col-md-6">
          <div class="single-service">
            <div class="service-icon">
              <img src="static/website/img/service/shape1.png" alt="">
              <img class="s-icon" src="static/website/img/service/icon3.png" alt="">
              <img class="clr-icon" src="static/website/img/service/clr-icon3.png" alt="">
            </div>
            <div class="service-content">
              <h4>Digital Marketing</h4>
              <p>We structure & strategize the best possible Digital Marketing solution not only to fit your budgets but also help to get more than what you are expecting now. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End Service Area =================-->

  <!--================ Start Video Area =================-->
  <section class="video-sec-area">
    <div class="container">
      <div class="row justify-content-start align-items-center">
        <div class="col-lg-6 video-left justify-content-center align-items-center d-flex">
          <div class="overlay overlay-bg"></div>
          <a id="play-home-video" class="video-play-button" href="https://www.youtube.com/watch?time_continue=2&v=J9YzcEe29d0">
            <span></span>
          </a>
        </div>
        <div class="col-lg-5 offset-lg-1 video-right">
          <h1>We Are Novus. <br>
            Some Info About Us</h1>
          <p>
            At Novus we help companies to grow their businesses by developing their websites with a good UX strategy.We love to build intuitive websites that are easy to use and loved by the users.We love building amazing User Experiences.
          </p>

          <div class="counter_area" id="project_counter">
            <!-- single counter -->
            <div class="single_counter">
              <div class="info-content">
                <h4><span class="counter">10</span>+</h4>
                <p>Working Teams</p>
              </div>
            </div>
            <!-- single counter -->
            <div class="single_counter">
              <div class="info-content">
                <h4><span class="counter">100</span>+</h4>
                <p>Projects Completed</p>
              </div>
            </div>
            <!-- single counter -->
            <div class="single_counter">
              <div class="info-content">
                <h4><span class="counter">50</span>+</h4>
                <p>Trusted Clients</p>
              </div>
            </div>
            <!-- single counter -->
            <div class="single_counter">
              <div class="info-content">
                <h4><span class="counter">50</span>+</h4>
                <p>Achievements</p>
              </div>
            </div>
          </div>
        </div>
        <img class="img-fluid video-shape" src="static/website/img/video-bg-shape.png" alt="">
      </div>
    </div>
  </section>
  <!--================ End video Area =================-->

  <!--================ Start Portfolio Service Area =================-->
  <section class="portfolio-area section-gap">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6">
          <div class="portfolio-main">
            <h1>Recent Portfolio <br> Showcase</h1>
            <p>In a very short time span of our company’s existence we have added following products to our portfolio and we are growing fast.This truly is a milestone for our team and we are excited for the future as things begin to get more and more hectic and continue to grow.</p>
            <a href="#" class="primary-btn">View all Works</a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="active-gallery-carousel">
            <!-- single gallery -->
            <div class="single-gallery">
              <img class="img-fluid" src="static/website/img/project/gallery1.jpg" alt="">
              <div class="gallery-content">
                <p>Proper Guided Tour</p>
                <h4>Santorini Island Dream <br>
                  Holiday and Fun <br>
                  Package</h4>
              </div>
              <div class="light-box">
                <a href="static/website/img/project/gallery1.jpg" class="img-popup">
                  <span class="lnr lnr-link"></span>
                </a>
              </div>
            </div>
            <!-- single gallery -->
            <div class="single-gallery">
              <img class="img-fluid" src="static/website/img/project/gallery2.jpg" alt="">
              <div class="gallery-content">
                <p>Proper Guided Tour</p>
                <h4>Santorini Island Dream <br>
                  Holiday and Fun <br>
                  Package</h4>
              </div>
              <div class="light-box">
                <a href="static/website/img/project/gallery2.jpg" class="img-popup">
                  <span class="lnr lnr-link"></span>
                </a>
              </div>
            </div>
            <!-- single gallery -->
            <div class="single-gallery">
              <img class="img-fluid" src="static/website/img/project/gallery3.jpg" alt="">
              <div class="gallery-content">
                <p>Proper Guided Tour</p>
                <h4>Santorini Island Dream <br>
                  Holiday and Fun <br>
                  Package</h4>
              </div>
              <div class="light-box">
                <a href="static/website/img/project/gallery3.jpg" class="img-popup">
                  <span class="lnr lnr-link"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End Portfolio Service Area =================-->

  <!--================ Start Team Area =================-->
  <section class="team-area">
    <div class="container">
      <div class="owl-carousel active-team-carusel">

        <!-- single carousel -->
        <div class="row align-items-center single-item">
          <div class="col-lg-6 col-md-6">
            <div class="team-left">
              <img class="img-fluid" src="static/website/img/team1.jpg" alt="">
              <div class="member-desc d-flex justify-content-between align-items-center">
                <div class="m-title">
                  <h4>Sourav Sharma</h4>
                  <p>CEO , Novus</p>
                </div>
                <div class="m-social">
                  <div class="t-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </div>
                  <div class="b-icons">
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 offset-lg-1 col-md-6 team-right">
            <h1>Our Interactive <br>
              Team Mates</h1>
            <p>
             Our team has been growing organically, to meet the needs of our customers.

             Currently, we have a team of 9 full-time employees who each play an integral role in the company. We have dedicated full-time positions to project management, customer service, website development, and digital marketing to ensure we can provide fast, responsive service.


            </p>
            <a class="primary-btn" href="#">view members</a>
          </div>
        </div>
        <!-- single carousel -->
        <!-- single carousel -->
        <div class="row align-items-center single-item">
          <div class="col-lg-6 col-md-6">
            <div class="team-left">
              <img class="img-fluid" src="static/website/img/team1.jpg" alt="">
              <div class="member-desc d-flex justify-content-between align-items-center">
                <div class="m-title">
                  <h4>Sourav Sharma</h4>
                  <p>CEO , Novus</p>
                </div>
                <div class="m-social">
                  <div class="t-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </div>
                  <div class="b-icons">
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 offset-lg-1 col-md-6 team-right">
            <h1>Our Interactive <br>
              Team Mates</h1>
            <p>
             Our team has been growing organically, to meet the needs of our customers.

             Currently, we have a team of 9 full-time employees who each play an integral role in the company. We have dedicated full-time positions to project management, customer service, website development, and digital marketing to ensure we can provide fast, responsive service.


            </p>
            <a class="primary-btn" href="#">view members</a>
          </div>
        </div>
        <!-- ENd carousel -->
      </div>
    </div>
  </section>
  <!--================ End Team Area =================-->

  <!--================ Start Testimonial Area =================-->
  <section class="testimonial-area section-gap">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 text-center">
          <div class="section-title">
            <p>Get to know what the world say about us.</p>

            <h1>Some <span>Great Brands </span>we worked With .</h1>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <div class="owl-carousel active-testi-carousel">
            <!-- single carousel -->
            <div class="single-testi-item">
              <div class="author-title">
                <div class="thumb"><img src="static/website/img/about-author.png" alt=""></div>
                <div class="a-desc">
                  <h6>Vijay</h6>
                  <p>Chief Executive, Raina Estates</p>
                </div>
              </div>
              <div class="author-desc">
                <p>Novus are a team of young entrepreneurs, knowledgeable, thoughtful and creative. Their ability to personally connect and customize solution is commendable. I wish them lots of energy and luck for their future endeavors</p>
              </div>
            </div>
            <!-- single carousel -->
            <div class="single-testi-item">
              <div class="author-title">
                <div class="thumb"><img src="static/website/img/about-author.png" alt=""></div>
                <div class="a-desc">
                  <h6>Gurupal Singh</h6>
                  <p>Chief Executive, ChemphyIndia</p>
                </div>
              </div>
              <div class="author-desc">
                <p>Novus did a great job for us. They were very responsive and worked fast to complete our project. As a technology professional, I was very demanding of the quality of work we received.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End Testimonial Area =================-->

  <!--================ Start CTA Area =================-->
  <section class="cta-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-12">
          <h2>Get to Know Project Estimate?</h2>
          <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s
            exciting to think about setting up your own viewing station whether that is on the deck</p>
          <a href="#" class="primary-btn">Get Estimate for Free</a>
        </div>
        <img src="static/website/img/cta-bg-shape.png" alt="" class="cta-shape img-fluid">
      </div>
    </div>
  </section>
  <!--================ End CTA Area =================-->

  <!--================ Start Blog Area =================-->
  <section class="blog-area section-gap">
    <div class="container">
      <div class="row align-items-end justify-content-center">
        <div class="col-lg-5 col-md-12 text-left">
          <div class="section-title">
            <h1>Latest Posts<br> From Our Blog</h1>
            <p>Get the recent happening across the world of technology, designing and digital marketing.</p>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 offset-lg-2 text-right">
          <div class="blog-btn">
            <a href="#" class="primary-btn">View All</a>
          </div>
        </div>
      </div>
      <div class="row blog-inner justify-content-center">
        <!-- single-blog -->
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="single-blog">
            <div class="blog-thumb">
              <img class="img-fluid" src="static/website/img/blog/h-blog1.jpg" alt="">
            </div>
            <div class="blog-details">
              <div class="blog-meta">
                <span>25 june, 2018 | By Mark Wiens</span>
              </div>
              <h5><a href="#">Addiction When Gambling <br>
                  Becomes A Problem</a></h5>
              <p>Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in
                front of their desktops.</p>
            </div>
          </div>
        </div>
        <!-- single-blog -->
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="single-blog">
            <div class="blog-thumb">
              <img class="img-fluid" src="static/website/img/blog/h-blog2.jpg" alt="">
            </div>
            <div class="blog-details">
              <div class="blog-meta">
                <span>25 june, 2018 | By Mark Wiens</span>
              </div>
              <h5><a href="#">Addiction When Gambling <br>
                  Becomes A Problem</a></h5>
              <p>Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in
                front of their desktops.</p>
            </div>
          </div>
        </div>
        <!-- single-blog -->
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="single-blog">
            <div class="blog-thumb">
              <img class="img-fluid" src="static/website/img/blog/h-blog3.jpg" alt="">
            </div>
            <div class="blog-details">
              <div class="blog-meta">
                <span>25 june, 2018 | By Mark Wiens</span>
              </div>
              <h5><a href="#">Addiction When Gambling <br>
                  Becomes A Problem</a></h5>
              <p>Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in
                front of their desktops.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End Blog Area =================-->
{% endblock %}

{% block footerScripts %}


<!-- changing text -->

<script type="text/javascript">
  var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };
</script>

<!-- userback   -->
<script>
    Userback = window.Userback || {};
    Userback.access_token = '5981|8892|sBEnHvXBygw376wAI5qwYR5A3t9UdpqWvtIXUCIZBlVJGQsdta';

    (function(id) {
        if (document.getElementById(id)) {return;}
        var s = document.createElement('script');
        s.id = id;
        s.async = 1;
        s.src = 'https://static.userback.io/widget/v1.js';
        var parent_node = document.head || document.body;
        parent_node.appendChild(s);
    })('userback-sdk');
</script>
{% endblock %}
