{% extends 'dashboard/base.html' %}
{% load static %}
{% block head %}
{% block title %}Add Categories{% endblock %}

{% endblock %}

    {% block content %}

     <section class="content">
        <div class="container-fluid">
            <!-- Inline Layout -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                               Add Category
                            </h2>
                        </div>
                        <div class="body">
                            <form action = '{% url "addCategory" %}' method="post" id="addCategoryForm">
                            	{% csrf_token %}
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="title" placeholder="Title of category" required="True">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <button type="submit" class="btn btn-primary waves-effect"> Submit</button>
                                        <button type="button" class="btn bg-deep-orange waves-effect" onclick="submitForm()">Submit and Add Another</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Inline Layout -->         
        </div>
    </section>


    {% endblock %}

 {% block footerScripts %}

<script type="text/javascript">
     var form = $('#addCategoryForm');
     function submitForm() {
        console.log("12345");
        $.ajax({
            type: form.attr('method'),
            url: form.attr('action'),
            data: form.serialize(),
            success: function(data){
                document.getElementById("addCategoryForm").reset();
                toastr.success("Blog post has been successsfully added");
            },
            error: function(data) {
                toastr.error("Blog post has been successsfully added");
            }
        });
        return false;
    }
</script>
{% endblock %}